hr{
  margin-bottom: 1rem;
}
.gallery-container {
  max-width: 100%;
}

.project_title {
  font-size: 30px;
  margin-top: 30px;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.big-image {
  flex: 1;
  height: auto;
  width: auto;
  background-color: #ffffff;
  text-align: center;
  font-size: 24px;
  transition: transform 0.3s ease;
  border-radius: 20px;
  margin-top: 20px;
}

.small-images {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.small-image {
  width: 300px;
  height: 150px;
  margin: 10px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  text-align: center;
  line-height: 150px; /* Adjust this value to vertically center the image */
  transition: transform 0.9s ease;
  border-radius: 10px;
}

.big-image:hover {
  transform: scale(1.1);
}

/* The container that covers the page and provides blur effect */
.page-container {
  position: relative;
  transition: filter 0.3s ease; /* Add transition for smooth effect */
}
.project_desc{
  text-align: justify;
  margin-bottom: 20px;
}
.small-image:hover {
  transform: scale(3);
  position: relative;
  z-index: 1;
}
.projectsection {
  display: grid;
  grid-template-columns: repeat(1,100%); /* Two equal columns */
  grid-gap: 3rem;
}

.project_container {
  /* Add any styles you need for the home__container */
}

.project__content {
}

#text {
    text-align: center !important;
}
.project__area {
  display: flex !important;
    flex-direction: column !important; /* Arrange children in a column */
    align-items: center !important; /* Center align children horizontally */
    justify-content: center !important; /* Center align children vertically */
    padding-top: 2rem;
}

.projectcard__area {
 margin-bottom: 3rem;
}

.dropdown-container {
  position: relative;
  width: 800px; 
  padding: 20px;
}

.dropdown-container {
  width: 800px;
  padding: 20px;
  text-align: center;
}

.dropdown-header {
  text-align: left;
  background-color: #ffffff;
  color: #59a47d;
  border-radius: 2rem;
  font-weight: var(--font-medium);

  transition: font-size 0.3s ease; 
  font-size: 1rem;
  margin-top: 10px;
}

.dropdown-header:hover {
  color: #497d59;
  font-size: 1.1rem; 
}


.iframe-container {
  max-height: 600px;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.iframe-container iframe {
  width: 100%;
  border: none;
}

.iframe-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.close-button {
  position: absolute;
  top: 1px;
  right: 1px;
  height: 2rem;
  background: none;
  border: none;

  font-size: 5px;
  opacity: 50%;
}

.close-button:hover{
  opacity: 100%;
}


.lineUp {
  animation: 1s anim-lineUp ease-out ;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}